# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Streamlit
.streamlit/secrets.toml

# Local data & temporary outputs
input/
output/
*.xlsx
*.pdf
*.csv
!master_data/*.csv
